img {
  width: 150px;
}
a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}
.details {
  padding: 2px 16px;
  transition: 0.3s;
  background: rgb(208, 215, 255);
  background: radial-gradient(
    circle,
    rgba(208, 215, 255, 1) 0%,
    rgba(228, 240, 234, 0.9136029411764706) 100%
  );
  border-radius: 10px;
  margin-bottom: 5px;
}
.water {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/46d5cfd672a1e2fca16c78d728e2b10cb57f7ce0r1-669-521v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.water:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1, 1.1);
}
.fire {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/8ee17e7a8790303410b30a2fbcb18183fc12166er1-623-499v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.fire:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1, 1.1);
}
.grass {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/0b36782d158f6da0639e38ebf94af3d5c37288c2r1-668-486v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.grass:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}

.normal {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/f2fb9db8191078f72c8b98fee93155c56e6e8674r1-673-421v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.normal:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.fighting {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/250af9c70a9f5140d4ba66922a9f227dd0bbe885r1-731-341v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.fighting:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.flying {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/0b36782d158f6da0639e38ebf94af3d5c37288c2r1-668-486v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.flying:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.poison {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/b0945fed2f0cc9fa340c6e7deb851c14ddf53e30r1-575-530v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.poison:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.ground {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/10ed1c931a1b46035f01315731b1f3f70ec24f5er1-656-454v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.ground:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.rock {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/843acea2bde21f7ae7e1f17c0da831acea46a2acr1-692-503v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.rock:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.bug {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/0d2736d705781ea116d08621abbfefae60a971c2r1-700-542v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.bug:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.ghost {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/1932c3243860328e1f1cd07d65e02649672380ecr1-700-444v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.ghost:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.steel {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/bc538f6da74b633d36b48108ddd07b7a2410a2afr1-650-498v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.steel:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.electric {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/00eaa3cfd5033ff306b23965e1c50b31577dd464r1-647-485v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.electric:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.psychic {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/19a53b46a48f55a346f130092cb2c8d8fcf88af0r1-642-671v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.psychic:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.ice {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/fc715e840930cac4f0577c69aa6721ff0b689b11r1-677-462v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.ice:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.dragon {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/adcbbe4c769bbaf0858abef9625077294911804br1-593-534v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.dragon:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.dark {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/0ea89cf278223e13003a6897d3091b7d99271cf6r1-688-475v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.dark:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.fairy {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/61770aa4b0259c06cd4b1fa490007c29e27d6683r1-663-565v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.fairy:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.unknown {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/0b36782d158f6da0639e38ebf94af3d5c37288c2r1-668-486v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.unknown:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
.shadow {
  transition: 0.3s;
  height: 250px;
  width: 210px;
  background-image: url(https://pm1.narvii.com/7243/0b36782d158f6da0639e38ebf94af3d5c37288c2r1-668-486v2_hq.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
