.pokemon {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin-left: 10%;
  background-color: rgba(8, 34, 78, 0.9);
}
.photo {
  width: 400px;
}
.cont-img {
  background: rgb(208, 215, 255);
  background: radial-gradient(
    circle,
    rgba(208, 215, 255, 1) 0%,
    rgba(228, 240, 234, 0.9136029411764706) 100%
  );
  padding: 10px;
  border-radius: 10px;
}
.cont-leyend {
  padding: 10px;
  background: rgb(208, 215, 255);
  background: radial-gradient(
    circle,
    rgba(208, 215, 255, 1) 0%,
    rgba(228, 240, 234, 0.9136029411764706) 100%
  );
  border-radius: 10px;
  text-transform: capitalize;
}
.card-details {
  margin-top: 5px;
  padding: 10px;
  background: rgb(208, 215, 255);
  background: radial-gradient(
    circle,
    rgba(208, 215, 255, 1) 0%,
    rgba(228, 240, 234, 0.9136029411764706) 100%
  );
  border-radius: 10px;
}
.card-details p {
  font-weight: 700;
}
.card-details span {
  color: rgba(8, 34, 78, 0.9);
}
