.logo {
  float: right;
  width: 15rem;
  height: 10rem;
}

video {
  background-color: blue;
  height: 98%;
  width: 82%;
  float: left;
  top: 0;
  padding: none;
}
.BB {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: #e91e63;
  padding: 18px 30px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.BB:hover {
  background-color: #2c2fa5;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}
